body{
        background: linear-gradient(to right, #3f87a6, #ebf8e1, #f69d3c);
text-align: center;
}
.btn-container{
    display: flex;
    justify-content:center;
}
.btn {
    height: 120px;
    width: 120px;
    border-radius: 20%;
    border: 6px solid black;
    margin: 1rem;
}
.red{
    background-color: #ef3b36;
}
.yellow {
    background-color: #ffc371;
}
.green {
    background-color: #34e89e;
}
.blue {
    background-color: #1cb5e0;
}

.flash{
    background-color:white;
}
.userflash{
    background-color: #FDFF32;
}